:root{
  --light-color : #f2f2f2;
  --dark-color : #2d343a;
  --aero-red : #d85050;
  --aero-blue : #4f9da7;
  --aero-yellow : #d1ae4a;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: var(--dark-color);
}

.App-header {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
